Write a Python script using a for loop and the range() function to iterate through the numbers from 1 up to and including 5.

Inside the loop, check if each number is even or odd, and then print the result in the format: "Number X is [even/odd]."

Output

Number 1 is odd.

Number 2 is even.

Number 3 is odd.

Number 4 is even.

Number 5 is odd.

In [6]:
even=()
odd=()
for i in range(1,6):
    if i%2==0:
        print(f'The number {i} is even')
    else:
        print(f'The number {i} is odd')

The number 1 is odd
The number 2 is even
The number 3 is odd
The number 4 is even
The number 5 is odd

2. Write a Python script that uses a for loop to calculate the sum of all elements in the given list.

list = [10,20,30,40]

Your script must:

Initialize a variable to keep track of the running total.

Iterate through the data list using a for loop.

Inside the loop, print the value currently being added and the new running total.

Finally, print the total sum after the loop finishes.

Added 10. Running total is 10.

Added 20. Running total is 30.

Added 30. Running total is 60.

Added 40. Running total is 100.

------------------------------

Total Sum: 100

In [8]:
list = [10,20,30,40]
totalsum = 0
for i in list:
    totalsum+=i
    print('added',i,'Running total is',totalsum)
print('total sum is',totalsum)

added 10 Running total is 10
added 20 Running total is 30
added 30 Running total is 60
added 40 Running total is 100
total sum is 100

3. Write a program that uses a for loop to iterate through the list student_names = ["Ram", "Hari", "Sita"] and prints a personalized message for each student in the format 'Hi [Name], your course approval is ready!'. Include the header ' --- Email Greetings Generated ---' before the loop.

In [15]:
student_names = ['ram','hari','sita']
for i in range(len(student_names)):
    print('Hi',student_names[i],', your course approval is ready!')

Hi ram , your course approval is ready!
Hi hari , your course approval is ready!
Hi sita , your course approval is ready!

4. write a program that iterates through the list of chapter page counts [45, 30, 50, 40] and (starting the count at 1) to print a message for each chapter in the format: 'Chapter [Number] has [Pages] pages.'. Include the header '--- Book Chapter Summary ---'."

In [25]:
page_counts = [45,30,50,40]
count = 0
for i in range(len(page_counts)):
    count+=1
    print('Chapter',count,'has',page_counts[i],'pages')

Chapter 1 has 45 pages
Chapter 2 has 30 pages
Chapter 3 has 50 pages
Chapter 4 has 40 pages

5. Write a Python script to calculate the product (multiplication) of all numeric elements in a given list. given list=[4,5,3,2]

In [31]:
list = [4,5,3,2]
count = 1
for i in list:
    count=count*i
print(count)

120

6. multiplication table of a given number. number= 11

In [33]:
for i in range(1,11):
    print(f'11','*',f'{i}','is',11*i)

11 * 1 is 11
11 * 2 is 22
11 * 3 is 33
11 * 4 is 44
11 * 5 is 55
11 * 6 is 66
11 * 7 is 77
11 * 8 is 88
11 * 9 is 99
11 * 10 is 110

7. You are given a list of student records, where each record is a dictionary containing the student's name and their math grade. Write a Python program that:

Iterates through each student in the list.

Adds a new key "status" to each student's dictionary with the value:

"Approved" if their "math_grade" is 70 or above,

"Rejected" if their "math_grade" is below 70.

students = [

    {"name": "ram", "math_grade": 43},

    {"name": "hari", "math_grade": 65},

    {"name": "sita", "math_grade": 90}

]

In [37]:
students = [

{"name": "ram", "math_grade": 43},

{"name": "hari", "math_grade": 65},

{"name": "sita", "math_grade": 90}
]
for i in students:
    if i['math_grade']>=70:
        i['status']='approved'
    else:
        i['status']='rejected'
print(students)

[{'name': 'ram', 'math_grade': 43, 'status': 'rejected'}, {'name': 'hari', 'math_grade': 65, 'status': 'rejected'}, {'name': 'sita', 'math_grade': 90, 'status': 'approved'}]

8.  You have two lists of numbers, and you need to find out which numbers appear in both lists. 

Given two lists of numbers [1,2,3,4,5] and [3,4,5,6,7] write a for  loop to find the common elements.

In [40]:
list1 = [1,2,3,4,5]
list2 = [3,4,5,6,7]
list3=[]
for i in list1:
    for j in list2:
        if i==j:
            list3.append(i)
print(list3)

[3, 4, 5]

9. Given list is lst=[1,2,3,4] but print 1 and 4 only

In [44]:
lst = [1,2,3,4]
la=[]
for i in lst:
    if i==2 or i==3:
        continue
    else:
        la.append(i)
print(la)

[1, 4]

10. Given list is lst=[1,2,3,4] but print 1 2 and 4 only

In [45]:
lst = [1,2,3,4]
l=[]
for i in lst:
    if i==3:
        continue
    else:
        l.append(i)
print(l)

[1, 2, 4]

11. Given list is [1,2,3,4] but expected output is [1,"a",2,4]

In [52]:
list = [1,2,3,4]
if i in list:
    list[2]=2
    list[1]='a'
    print(list)

[1, 'a', 2, 4]

12. Given list is [1,2,3,4,5] separate the elements into odd and even categories.

In [54]:
list = [1,2,3,4,5]
even=[]
odd=[]
for i in list:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print(even)
print(odd)

[2, 4]
[1, 3, 5]

13. Write a program to determine whether a given number is a prime number.

In [55]:
flag = False
number = int(input('enter the number'))
for i in range(2,number):
    if i%2==0:
        flag = True
        break
if flag:
    print('not prime')
else:
    print('prime')

enter the number 3

not prime

14. Given list is [1,2,3,4,"a","b"] append each elements datatypes to separate lists.

In [56]:
list = [1,2,3,4,'a','b']
l1=[]
l2=[]
for i in list:
    if isinstance(i,int):
     l1.append(i)
    else:
        l2.append(i)
print(l1)
print(l2)

[1, 2, 3, 4]
['a', 'b']

15. Python program that accepts a string and calculate the number of digits and letters

In [64]:
intt = 0
strr = 0
list = [1,2,'a','b',3,'sabin',4]
for i in list:
    if isin():
        intt+=1
    else:
        strr+=1
print('digits',intt)
print('letter',strr)

AttributeError: 'int' object has no attribute 'isdigit'

In [1]:
#
lst = [1, 2, 3, 4]
result = []
for i in lst:
    result.append(i**3)
print(result)

[1, 8, 27, 64]

In [2]:
a = "programming"
rev = ""
for i in a:
    rev = i + rev
print(rev)

gnimmargorp

In [3]:
for i in range(50):
    if i == 8:
        break
    print(i)

0
1
2
3
4
5
6
7

In [4]:
s = "programming"
for ch in s:
    print(ch)

p
r
o
g
r
a
m
m
i
n
g

In [5]:
a = ["ram", "shyam", 1, 2]
for i in a:
    if type(i) == str:
        print("Hello!", i)

Hello! ram
Hello! shyam

In [6]:
nums = [1, 2, 3, 4]
sq = []
for i in nums:
    sq.append(i*i)
print(sq)

[1, 4, 9, 16]

In [7]:
lst1 = [111, 32, -9, -45, -17, 9, 85, -10]
new = []
for i in lst1:
    if i > 0:
        new.append(i)
print(new)

[111, 32, 9, 85]

In [8]:
lst = [0,1,2,3,4,5,6]
for i in lst:
    if i == 3 or i == 6:
        continue
    print(i)

0
1
2
4
5

In [9]:
lst1 = [1, "ram", 2.5, True]
lst2 = []
for i in lst1:
    lst2.append(type(i))
print(lst2)

[<class 'int'>, <class 'str'>, <class 'float'>, <class 'bool'>]

In [10]:
for i in range(5):
    print(i)
else:
    print("Done")

0
1
2
3
4
Done

In [11]:
for i in range(105, 6, -7):
    print(i, end=" ")

105 98 91 84 77 70 63 56 49 42 35 28 21 14 7

In [12]:
bad_chars = [';', ':', '!', "*"]
string = "py;th* o:n ! ;py * t*h:o !n"

for ch in bad_chars:
    string = string.replace(ch, "")

print(string.replace(" ", ""))

pythonpython

In [13]:
nums = [1,2,3,4,5,6,7,8,9]
even = odd = 0

for i in nums:
    if i % 2 == 0:
        even += 1
    else:
        odd += 1

print("Even:", even)
print("Odd:", odd)

Even: 4
Odd: 5

In [14]:
total = 0
for i in range(3, 100):
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(total)

2318

In [15]:
even_sum = odd_sum = 0

for i in range(1, 101):
    if i % 2 == 0:
        even_sum += i
    else:
        odd_sum += i

print("Even sum:", even_sum)
print("Odd sum:", odd_sum)

Even sum: 2550
Odd sum: 2500

In [ ]:
num = int(input("Enter number: "))
temp = num
rev = 0

while num > 0:
    rev = rev*10 + num%10
    num //= 10

if temp == rev:
    print("Palindrome")
else:
    print("Not Palindrome")

In [ ]:
num = int(input("Enter number: "))
temp = num
sum = 0
n = len(str(num))

while num > 0:
    d = num % 10
    sum += d ** n
    num //= 10

if temp == sum:
    print("Armstrong")
else:
    print("Not Armstrong")

In [ ]:
s = "programming"
result = ""

for ch in s:
    if ch not in "aeiouAEIOU":
        result += ch

print(result)